<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.quna.activity"
    android:versionCode="1"
    android:versionName="V1.0.1">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <!-- 允许应用可以接收点亮屏幕或解锁广播。 -->
    <uses-permission android:name="com.xiaoyuan.mall.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Required 自定义用来收发消息的相关权限 -->
    <permission
        android:name="com.xiaoyuan.mall.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.android.aizachi.activity.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- 快捷方式权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.android.juzbao.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Light.NoTitle">

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1127170418178238#xiaoyuan" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53912a3156240b01a7075ed1" />

        <!-- todo 修改腾讯Appkey -->
        <meta-data
            android:name="TENCENT_APPKEY"
            android:value="tencent1106069560" />

        <!-- todo 修改微信Appkey -->
        <meta-data
            android:name="WECHAT_APPKEY"
            android:value="wx00874eafe9e61dab" />
        <meta-data
            android:name="log_file_path"
            android:value="/JuZbao/Logs/" />
        <meta-data
            android:name="apk_name"
            android:value="JuZbao.apk" />
        <meta-data
            android:name="apk_file_uri"
            android:value="JuZbao/cache/update/" />

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 闪屏页 -->
        <activity
            android:name="com.android.juzbao.activity.jifen.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.jifen.GuideActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name="com.android.juzbao.activity.jifen.StartAdActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.jifen.StartAdActivityDetail_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.jifen.JiFenProductActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.jifen.JifenConvertActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.jifen.EasyPeopleDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.jifen.ConvertStateActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.jifen.MyJiFenActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.jifen.MyJifenSendPayActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.jifen.OrderRefundActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.TabHostActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- 环信 -->
        <activity
            android:name="com.hyphenate.chatui.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.android.juzbao.activity.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 账号相关   登录、注册、找回密码等 -->
        <activity
            android:name="com.android.juzbao.activity.account.FindPwdActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.account.RegisterActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.account.LoginActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.account.ModifyPwdActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 个人信息相关 -->
        <activity
            android:name="com.android.juzbao.activity.me.MyAboutActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyAccountActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyAddressActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyAddressEditActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyFavoriteProductActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyBrowseProductActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyFavoriteShopActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyMessageActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyMessageListActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyMessageDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.NewsDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyInfoActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyModifyMobileActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MySettingActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.me.MyGivingGiftActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.order.MyDistinguishOrderActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.order.MyOrderRefundActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.order.MyShopOrderActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.order.MyShopOrderDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.order.OrderEnsureActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.order.OrderPayActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.order.OrderSuccessActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.wallet.MyWalletActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.wallet.MyWalletAddBankActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.wallet.MyWalletBankActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.wallet.MyWalletRedrawActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.wallet.MyWalletRecordActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.CartActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.BarcodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.video.activity.VideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.HelpActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.SearchActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.HelpDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.zcomponent.activity.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.zcomponent.activity.ImageViewPagerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.zcomponent.activity.RecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.AuctionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.AuctionLogActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.BondNoticeActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.NoticeDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.CategoryActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.zcomponent.activity.EditActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.EditDescActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.android.juzbao.activity.EditOptionActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.PriceInputActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.SpareActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.AuctionProductActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ProductActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.MyOrderActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.MyOrderDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.MyMoreOrderActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.CitySelectActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.PaincBuyingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.BindVisiterActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.AddReviewActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ReadReviewActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.AuctionDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.CommunityItemActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.AddFreeActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.AddPhotoBuyActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.AddDistinguishActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.DistinguishEnsureActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ExpressDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.GiftSelectActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.OptionActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ProductDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ShopDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ReviewActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.SubmitExpressActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 我是商家 -->
        <activity
            android:name="com.android.juzbao.activity.GoodsManageActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.MyShopActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.PanicBuyingActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ProductDescriptionActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ProtocolActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ReleaseActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ReleaseAuctionGoodsActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ReleaseCommodityGoodsActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ReleaseCustomizationGoodsActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ReleaseSuccessActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.SelectCategoryActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.SelectCommodityActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ServeHallActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ShipmentsTojuzhenbaoActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ShipAddressActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ShopFitmentActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ShopIntroduceActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ShopNameActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ShopSetActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.CourseActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.CourseDocDetailActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.juzbao.activity.ToSpecialActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.android.zcomponent.views.cropimage.CropImage"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105206106" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- gcm start -->
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.hyphenate.chatuidemo" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hyphenate.chat.EMGCMListenerService"
            android:exported="false" />

        <activity
            android:name="com.android.juzbao.activity.circle.DynamicDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.android.juzbao.activity.circle.TieziActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.android.juzbao.activity.circle.SelectPictureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.android.juzbao.activity.circle.ImagePagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.android.juzbao.activity.circle.MyDynamicActivity" />
        <activity android:name="com.android.juzbao.activity.circle.SendDemandActivity" />
        <activity android:name="com.android.juzbao.activity.circle.DemandDetailActivity" />

        <!-- =================================JPush Start============================== -->
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.xiaoyuan.mall" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.xiaoyuan.mall" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.xiaoyuan.mall" />
            </intent-filter>
        </activity>
        <!-- SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.xiaoyuan.mall" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name="com.android.juzbao.base.MyReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.xiaoyuan.mall" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="d6bede8db785173f14856f13" />

        <activity
            android:name="com.android.juzbao.activity.circle.NotifyActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.android.juzbao.activity.StartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.android.juzbao.application.LocationService"
            android:enabled="true"
            android:exported="true"/>
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"/>

    </application>

</manifest>